<!DOCTYPE html>
<html>
    <head>
        <title>
            Comunication_LTD
        </title>
    </head>
    <body>
        <h1 style = "color: hwb(231 0% 53% / 0.8);">
            User login 
        </h1>
        <form method = "post" action="{% url 'login_req' %}">
            {% csrf_token %}
            {{ form }}
            <input type="text" placeholder="Username" name='username' required>
            <h6></h6>
            <input type="password" placeholder="Password" name='password' required>
            <h6></h6>
            <input type="submit" id="logInBtn" value="Login">
            <h6></h6>
        </form>

        <a href="/register">
            Dont have an account?
        </a>
    </body>
</html>